<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>311919315732-hncfgb5q7pjqb5bs61lldbjg2e3upnip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311919315732-hncfgb5q7pjqb5bs61lldbjg2e3upnip</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>311919315732-binkon4jqcop649s2ap90vhp0143pr6b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABu2WgQuTiCByvNZnuCmdptS9KTHbTWaI</string>
	<key>GCM_SENDER_ID</key>
	<string>311919315732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MachRewardsApp</string>
	<key>PROJECT_ID</key>
	<string>machrewardsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>machrewardsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311919315732:ios:960f9b6607b534103b9001</string>
</dict>
</plist>